# Nuxt dev/build outputs
.nuxi
.nuxt
.nitro
.cache
.output
.env
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel